<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Berners-Lee</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Tim Berners-Lee</h1>
  <header>
    <nav>
      <ul>


        <a href="/berners-lee"></a>

      </ul>
    </nav>
  </header>
  <main>
    <section>
      <article>
        <p>
          Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico de la computación
          británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente
          y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World
          Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las
          que se fundamenta la Web y que permiten el funcionamiento de Internet.


        </p>
      </article>
    </section>
    <aside>
      <img src="/img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="Imagen de Tim Berners-Lee">
    </aside>
  </main>
  <footer>
    <section>
      <h3>Redes</h3>
      <ul>
        <li>
          <h3>Facebook</h3>
        </li>
        <li>
          <h3>Instagram</h3>
        </li>
        <li>
          <h3>Snapchat</h3>
        </li>
      </ul>
    </section>
    <section>
      <h3>Menú</h3>
      <ul>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>

    </section>
  </footer>
  <h3> <a href="/">Home</a></h3>

</body>

</html>