<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Magaret Hamilton</h1>
    <header>
        <nav>
            <ul>


                <a href="/hamilton"></a>

            </ul>
        </nav>
    </header>
    <main>
        <section>

            <article>
                <p>
                    Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica computacional, matemática
                    e ingeniera de Software estadounidense.
                    Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1?
                    donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial
                    Apolo.2?3?4? Fue fundadora, en 1976, de la empresa Higher Order Software. En 1986, se convirtió en
                    la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se
                    desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes
                    del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.5?
                    Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras
                    ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó
                    el mismo respeto que otras disciplinas.6?7?


                </p>
            </article>
        </section>
        <aside>
            <img src="/img/Margaret_Hamilton_1995.jpg" alt="Imagen de Margaret Hamilton">
        </aside>
    </main>
    <footer>
        <h3> <a href="/">Home</a></h3>
        <section>
            <h3>Redes</h3>
            <ul>
                <li>
                    <h3>Facebook</h3>
                </li>
                <li>
                    <h3>Instagram</h3>
                </li>
                <li>
                    <h3>Snapchat</h3>
                </li>
            </ul>
        </section>
        <section>
            <h3>Menú</h3>
            <ul>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>

        </section>
    </footer>

</body>

</html>