<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <h1>Bienvenidos a nuestra página</h1>
        <h2> <strong><em>Héroes de la programación</em></strong> </h2>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/turing">Turing</a>
                    </li>
                    <li>
                        <a href="/hamilton">Hamilton</a>
                    </li>
                    <li>
                        <a href="/babbage">Babbage</a>
                    </li>
                    <li>
                        <a href="/berners-lee">Berners-Lee</a>
                    </li>
                    <li>
                        <a href="/clarke">Clarke</a>
                    </li>
                    <li>
                        <a href="/hopper">Hopper</a>
                    </li>
                    <li>
                        <a href="/lovelace">Lovelace</a>
                    </li>


                </ul>
            </nav>
        </header>
        <aside>
            <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/03/lenguajes_programacion_odiados_amados_2019.jpg?itok=oWvoW2cu"
                alt="Códigos de programación">
        </aside>
        <ul>
            <li>
                <h4>Subscribite</h4>

            </li>
            <form action="/enviar-respuesta">
                <input type="text">
                <button type="submit">Enviar</button>
            </form>

        </ul>
        <section>
            <h3>Redes</h3>
            <ul>
                <li>
                    <h3>Facebook</h3>
                </li>
                <li>
                    <h3>Instagram</h3>
                </li>
                <li>
                    <h3>Snapchat</h3>
                </li>




            </ul>
        </section>

        <hr>
        <footer>
            <h4>
                <copyright->Todos los derechos reservados-Comision 17-Digital House</copyright->
            </h4>
        </footer>
    </main>
</body>

</html>