<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lovelace</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Ada Lovelace</h1>
  <header>
    <nav>
      <ul>


        <a href="/lovelace"></a>

      </ul>
    </nav>
  </header>
  <main>
    <section>

      <article>
        <p>
          Ada Lovelace nació el 10 de diciembre de 1815 en el seno del matrimonio del poeta Lord Byron y Anna Isabella
          Milbanke. Esta última abandonó a su marido, padre de Ada, al poco tiempo de casarse. Este hecho que provocó
          que Lovelace recibiese una educación muy peculiar para una mujer de su época. Y es que se basada en una
          formación excepcionalmente estricta en matemáticas.
          Ada Lovelace diseñó la idea de una máquina que fuera capaz de programarse y reprogramarse para ejecutar
          funciones que le llevarán a la realización de una serie de tareas que fueran mas allá de llevar a cabo simples
          cálculos y que quedarán expresadas mediante símbolos.
          Algo que le llevó, años más tarde, a convertirse en una pionera de este ámbito llegando a ser considerada como
          la «madre» de la programación.


        </p>
      </article>
    </section>
    <aside>
      <img src="/img/Ada-Lovelace-1024x559.jpg.jfif" alt="Imagen de Ada Lovelace">
    </aside>
  </main>
  <footer>
    <h3> <a href="/">Home</a></h3>
    <section>
      <h3>Redes</h3>
      <ul>
        <li>
          <h3>Facebook</h3>
        </li>
        <li>
          <h3>Instagram</h3>
        </li>
        <li>
          <h3>Snapchat</h3>
        </li>
      </ul>
    </section>
    <section>
      <h3>Menú</h3>
      <ul>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>

    </section>
  </footer>

</body>

</html>