<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Turing</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>


        <a href="/turing"></a>

      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h1>Alan Turing</h1>
      <article>
        <p>
          Alan Turing fue el creador de la máquina electromecánica precursora de los computadores modernos, la cual
          logró desbloquear los códigos secretos de los submarinos alemanes durante la Segunda Guerra Mundial. Fue un
          trabajo considerado clave para la obtención de la victoria aliada del mencionado conflicto.

          Turing nació en Londres el 23 de junio de 1912. Pasó su infancia en la India donde su padre se desempeñaba con
          funcionario colonial. Desde muy pequeño mostró un gran interés por la lectura, los números y los rompecabezas.
          En su carrera escolar destacó su aptitud por las matemáticas y por su carácter que lo llevó a seguir sus
          propias ideas.

        </p>
      </article>
    </section>
    <aside>
      <img src="/img/turing.jpeg" alt="Imagen de Alan Turing">
    </aside>
  </main>
  <footer>
    <h3> <a href="/">Home</a></h3>
    <section>
      <h3>Redes</h3>
      <ul>
        <li>
          <h3>Facebook</h3>
        </li>
        <li>
          <h3>Instagram</h3>
        </li>
        <li>
          <h3>Snapchat</h3>
        </li>
      </ul>
    </section>
    <section>
      <h3>Menú</h3>
      <ul>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>

    </section>
  </footer>

</body>

</html>